<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducateX</title>
    <link rel="stylesheet" href="../style/forum.css" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <img src="../assets/logoEducatex.PNG"/>
        </div>
        <div class="header-list">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="mySpace.html">My Space</a></li>
                <li><a href="subjects.html">Subjects</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="forum.html">Forum</a></li>
                <li><a href="index.html">Log Out</a></li>
            </ul>
        </div>
        <div class="header-socials">
            <ul>
                <li><img src="../assets/facebook-brands.png"></li>
                <li><img src="../assets/linkedin-brands.png"></li>
                <li><img src="../assets/twitter-brands.png"></li>
                <li><img src="../assets/instagram-brands.png"></li>
            </ul>
        </div>
    </div>
   <div class="main">
       <div class="container">
           <div class="intro">
               <h2>Learn from each other</h2>
               <h3>Join a discussion</h3>
           </div>
           <div class="discussions">
               <div class="header-d">
                   <div class="left">
                     <img src="../assets/add-comment.png"><p>Add a comment</p>
                   </div>
                   <input type="text" placeholder="Search">
               </div>
               <div class="main-d">
                   <ul>
                       <li>
                           <p>What is the most important chapter in the book that our teacher gave us in Biology?</p>
                           <span>1</span>
                           <img class="comment" src="../assets/comment.png">
                        </li>
                        <li>
                            <p>What is math anxiety?</p>
                            <span>2</span>
                            <img class="comment" src="../assets/comment.png">
                         </li>
                         <li>
                            <p>How to disable docker desktop from auto updating on windows?</p>
                            <span>1</span>
                            <img class="comment" src="../assets/comment.png">
                         </li>
                         <li>
                            <p>How to redirect a wrong url with the same pattern that a user messed up in django, without javascript?</p>
                            <span>0</span>
                            <img class="comment" src="../assets/comment.png">
                         </li>
                   </ul>
               </div>
               <div class="footer-d">
                   <div class="top">
                        <h3>NEW</h3>
                   </div>
                   <div class="bottom">
                        <ul>
                            <li>
                                <img class="user-profile" src="../assets/user.png">
                                <p>How can I efficiently bulk reindex with Searchkick without hitting the DB connection limit in a multitenant application?</p>
                                <br>
                                <span>2</span>
                                <img class="comment" src="../assets/comment.png">
                            </li>
                            <li>
                                <img class="user-profile" src="../assets/user.png">
                                <p>How do I keep the player camera pointed at the same spot while I rotate the player?</p>
                                <br>
                                <span>0</span>
                                <img class="comment" src="../assets/comment.png">
                            </li>
                            <li>
                                <img class="user-profile" src="../assets/user.png">
                                <p>How to auto resubmit an app as aab if it was previously published as apk?</p>
                                <br>
                                <span>1</span>
                                <img class="comment" src="../assets/comment.png">
                            </li>
                        </ul>
                        <ul>
                            <li>
                                <img class="user-profile" src="../assets/user.png">
                                <p>How to get sessionid instagram using javascript?</p>
                                <br>
                                <span>1</span>
                                <img class="comment" src="../assets/comment.png">
                            </li>
                            <li>
                                <img class="user-profile" src="../assets/user.png">
                                <p>How to get sessionid instagram using javascript?</p>
                                <br>
                                <span>3</span>
                                <img class="comment" src="../assets/comment.png">
                            </li>
                            <li>
                                <img class="user-profile" src="../assets/user.png">
                                <p>Solve system of equations using scipy.optimize.root with text input: how to assing equations and variables?</p>
                                <br>
                                <span>0</span>
                                <img class="comment" src="../assets/comment.png">
                            </li>
                        </ul>
                   </div>
               </div>
           </div>
       </div>
   </div>
   <div class="footer">
        <div class="footer-logo">
            <img src="../assets/logoEducatex.PNG">
        </div>
        <div class="footer-quick-navigation">
            <ul>
                <li>QUICK NAVIAGTION</li>
                <li>Dashboard</li>
                <li>My space</li>
                <li>Subjects</li>
                <li>Quizzes</li>
                <li>Forum</li>
            </ul>
        </div>
        <div class="footer-stay-connected">
            <ul>
                <li>STAY CONNECTED</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="footer-get-in-touch">
            <ul>
                <li>GET IN TOUCH</li>
                <li>Prishtinë, Kosovo</li>
                <li>Tel: *** - *** - ***</li>
                <li>info@educatex.com</li>
            </ul>
        </div>
    </div> 
</body>
</html>