<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducateX</title>
    <link rel="stylesheet" href="../style/htmlSpace.css" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <img src="../assets/logoEducatex.PNG"/>
        </div>
        <div class="header-list">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="mySpace.html">My Space</a></li>
                <li><a href="subjects.html">Subjects</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="forum.html">Forum</a></li>
                <li><a href="index.html">Log Out</a></li>
            </ul>
        </div>
        <div class="header-socials">
            <ul>
                <li><img src="../assets/facebook-brands.png"></li>
                <li><img src="../assets/linkedin-brands.png"></li>
                <li><img src="../assets/twitter-brands.png"></li>
                <li><img src="../assets/instagram-brands.png"></li>
            </ul>
        </div>
    </div>
   <div class="main">
       <div class="container">
            <div class="top">
                <div>
                    <h2>Tutorials</h2>
                </div>
                <div>
                    <div>
                        <ul>
                            <li>
                                <img src="../assets/florian-olivo-4hbJ-eymZ1o-unsplash.jpg">
                                <img class="play" src="../assets/play.png">
                            </li>
                            <li>
                                <img src="../assets/kobu-agency-ipARHaxETRk-unsplash.jpg">
                                <img class="play" src="../assets/play.png">
                            </li>
                            <li>
                                <img src="../assets/valery-sysoev-p9OkL4yW3C8-unsplash.jpg">
                                <img class="play" src="../assets/play.png">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="list-elements">
                    <ul>
                        <li style="font-weight: 400;">Elements</li>
                        <li>Body Parts</li>
                            <ul class="inner-list">
                                <li>header</li>
                                <li>main</li>
                                <li>footer</li>
                            </ul>
                        <li>Div</li>
                        <li>Image</li>
                        <li>Link</li>
                    </ul>
                </div>
                <div class="content">
                    <textarea>

                    </textarea>
                </div>
            </div>
       </div>
   </div>
   <div class="footer">
        <div class="footer-logo">
            <img src="../assets/logoEducatex.PNG">
        </div>
        <div class="footer-quick-navigation">
            <ul>
                <li>QUICK NAVIAGTION</li>
                <li>Dashboard</li>
                <li>My space</li>
                <li>Subjects</li>
                <li>Quizzes</li>
                <li>Forum</li>
            </ul>
        </div>
        <div class="footer-stay-connected">
            <ul>
                <li>STAY CONNECTED</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="footer-get-in-touch">
            <ul>
                <li>GET IN TOUCH</li>
                <li>Prishtinë, Kosovo</li>
                <li>Tel: *** - *** - ***</li>
                <li>info@educatex.com</li>
            </ul>
        </div>
    </div> 
</body>
</html>