<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducateX</title>
    <link rel="stylesheet" href="../style/login.css" type="text/css">
</head>
<body>
    <div class="main">
        <div class="image">
            <img class="login-logo" src="../assets/logoEducatex.PNG">
            <img class="login-image" src="../assets/login.png">
        </div>
        <div class="form">
            <form onsubmit="return loginValidimi()">
                <label style="font-size: large;" id="login">Sign In</label>
                <input id="email" name='email' type="text" placeholder="Email">
                <input id="pass" name='password' type="password" placeholder="Password">
                <div class="remember-and-forgot">
                    <div class="remember">
                        <input type="checkbox" name="Remember me">
                        <span>Remember me</span>
                    </div>
                    <div>
                        <span style="font-style: italic;">Forgot Password</span>
                    </div>
                </div>
                <input id='loginB' name='login-btn' class="submit" type="submit" value="Log In">
            </form>
        </div>
    </div>
    <script src="../js/login.js"></script>
</body>
</html>