<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducateX</title>
    <link rel="stylesheet" href="../style/mySpace.css" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <img src="../assets/logoEducatex.PNG"/>
        </div>
        <div class="header-list">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="mySpace.html">My Space</a></li>
                <li><a href="subjects.html">Subjects</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="forum.html">Forum</a></li>
                <li><a href="index.html">Log Out</a></li>
            </ul>
        </div>
        <div class="header-socials">
            <ul>
                <li><img src="../assets/facebook-brands.png"></li>
                <li><img src="../assets/linkedin-brands.png"></li>
                <li><img src="../assets/twitter-brands.png"></li>
                <li><img src="../assets/instagram-brands.png"></li>
            </ul>
        </div>
    </div>
   <div class="main">
       <div class="container">
            <button class="bn54">
                <span class="bn54span">Add Space</span>
            </button>
           <ul>
               <li class="box"><img src="../assets/cybersecurity-course.jpg"><p>What is Cybersecurity?</p></li>
               <li class="box"><a href="htmlSpace.html"><img src="../assets/html-course.jpg"><p>Learn HTML Basics</p></a></li>
               <li class="box"><img src="../assets/no-image.jpg"><p>Studying for the Biology Exam</p></li>
               <li class="box"><img src="../assets/no-image.jpg"><p>Notes on Math Homeworks</p></li>
           </ul>
           <ul>
                <li class="box"><img src="../assets/no-image.jpg"><p>To do for Database Project</p></li>
                <li class="box"><img src="../assets/cybersecurity-course.jpg"><p>What is Cybersecurity?</p></li>
                <li class="box"><img src="../assets/html-course.jpg"><p>Learn HTML Basics</p></li>
                <li class="box"><img src="../assets//kelly-sikkema--1_RZL8BGBM-unsplash.jpg">Daily Notes on Important Remarks</li>
            </ul>
            <ul>
                <li class="box"><img src="../assets/junior-ferreira-7esRPTt38nI-unsplash.jpg">Project Ideas!</li>
            </ul>
       </div>
   </div>
   <div class="footer">
        <div class="footer-logo">
            <img src="../assets/logoEducatex.PNG">
        </div>
        <div class="footer-quick-navigation">
            <ul>
                <li>QUICK NAVIAGTION</li>
                <li>Dashboard</li>
                <li>My space</li>
                <li>Subjects</li>
                <li>Quizzes</li>
                <li>Forum</li>
            </ul>
        </div>
        <div class="footer-stay-connected">
            <ul>
                <li>STAY CONNECTED</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="footer-get-in-touch">
            <ul>
                <li>GET IN TOUCH</li>
                <li>Prishtinë, Kosovo</li>
                <li>Tel: *** - *** - ***</li>
                <li>info@educatex.com</li>
            </ul>
        </div>
    </div> 
</body>
</html>