<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducateX</title>
    <link rel="stylesheet" href="../style/quizzes.css" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <img src="../assets/logoEducatex.PNG"/>
        </div>
        <div class="header-list">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="mySpace.html">My Space</a></li>
                <li><a href="subjects.html">Subjects</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="forum.html">Forum</a></li>
                <li><a href="index.html">Log Out</a></li>
            </ul>
        </div>
        <div class="header-socials">
            <ul>
                <li><img src="../assets/facebook-brands.png"></li>
                <li><img src="../assets/linkedin-brands.png"></li>
                <li><img src="../assets/twitter-brands.png"></li>
                <li><img src="../assets/instagram-brands.png"></li>
            </ul>
        </div>
    </div>
   <div class="main">
       <div class="container">
           <ul class="subjects">
               <li><a href="quizzes.html">Biology</a></li>
               <li><a href="quizzes.html">Chemistry</a></li>
               <li><a href="quizzes.html">Physics</a></li>
               <li><a href="quizzes.html">PE</a></li>
               <li><a href="quizzes.html">History</a></li>
               <li><a href="quizzes.html">Math</a></li>
               <li><a href="quizzes.html">Technology</a></li>
           </ul>
           <ul class="quizzes">
                <ul>
                    <li class="box"><img src="../assets/roberto-sorin-x649mR6yBIs-unsplash.jpg"></li>
                    <li class="box"><img src="../assets/robina-weermeijer-Tmkwl7EjVtE-unsplash.jpg"></li>
                    <li class="box"><img src="../assets/adrian-lange-Wk902ZLaA7M-unsplash.jpg"></li>
                </ul>
                <ul>
                    <li class="box"><img src="../assets/fulvio-ciccolo-BU46fEYMbsQ-unsplash.jpg"></li>
                    <li class="box"><img src="../assets/ronda-darby-HbMLSB-uhQY-unsplash.jpg"></li>
                    <li class="box"><img src="../assets/benigno-hoyuela-7Z-Uayu13ps-unsplash.jpg"></li>
                </ul>
                <ul>
                    <li class="box"><img src="../assets/robina-weermeijer-Tmkwl7EjVtE-unsplash.jpg"></li>
                    <li class="box"><img src="../assets/adrian-lange-Wk902ZLaA7M-unsplash.jpg"></li>
                </ul>
            </ul>

       </div>
   </div>
   <div class="footer">
        <div class="footer-logo">
            <img src="../assets/logoEducatex.PNG">
        </div>
        <div class="footer-quick-navigation">
            <ul>
                <li>QUICK NAVIAGTION</li>
                <li>Dashboard</li>
                <li>My space</li>
                <li>Subjects</li>
                <li>Quizzes</li>
                <li>Forum</li>
            </ul>
        </div>
        <div class="footer-stay-connected">
            <ul>
                <li>STAY CONNECTED</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="footer-get-in-touch">
            <ul>
                <li>GET IN TOUCH</li>
                <li>Prishtinë, Kosovo</li>
                <li>Tel: *** - *** - ***</li>
                <li>info@educatex.com</li>
            </ul>
        </div>
    </div> 
</body>
</html>