<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EducateX</title>
    <link rel="stylesheet" href="../style/subjects.css" type="text/css">
</head>
<body>
    <div class="header">
        <div class="header-logo">
            <img src="../assets/logoEducatex.PNG"/>
        </div>
        <div class="header-list">
            <ul>
                <li><a href="profile.html">Profile</a></li>
                <li><a href="mySpace.html">My Space</a></li>
                <li><a href="subjects.html">Subjects</a></li>
                <li><a href="quizzes.html">Quizzes</a></li>
                <li><a href="forum.html">Forum</a></li>
                <li><a href="index.html">Log Out</a></li>
            </ul>
        </div>
        <div class="header-socials">
            <ul>
                <li><img src="../assets/facebook-brands.png"></li>
                <li><img src="../assets/linkedin-brands.png"></li>
                <li><img src="../assets/twitter-brands.png"></li>
                <li><img src="../assets/instagram-brands.png"></li>
            </ul>
        </div>
    </div>
   <div class="main">
       <div class="container">
           <div class="left">
                <div class="search">
                    <input type="text" placeholder="Search..">
                </div>
                <div class="list">
                    <ul>
                        <li class="card">
                            <h4>Biology</h4>
                            <p>Professor: Saranda Balaj</p>
                        </li><li class="card">
                            <h4>Technology</h4>
                            <p>Professor: Valmir Gashi</p>
                        </li>
                        <li class="card">
                            <h4>PE</h4>
                            <p>Professor: Afrim Shala</p>
                        </li>
                        <li class="card">
                            <h4>PE</h4>
                            <p>Professor: Megime Potoku</p>
                        </li>
                        <li class="card">
                            <h4>Intro to Programming</h4>
                            <p>Professor: Lavdim Recica</p>
                        </li>
                    </ul>
                </div>
           </div>
           <div class="right">
                <p>Filter Subjects</p>
                <hr style="color: black; margin: 15px;">
                <div class="filtering">
                    <input type="checkbox">
                    <span>Filter by class</span>
                </div>
                <div class="filtering">
                    <input type="checkbox">
                    <span>Filter by type</span>
                </div>
                <div class="filtering">
                    <input type="checkbox">
                    <span>Filter by layout</span>
                </div>
                <div class="filtering">
                    <input type="checkbox">
                    <span>Filter by theme</span>
                </div>
                <div class="filtering">
                    <input type="checkbox">
                    <span>Filter by professor</span>
                </div>
           </div>
       </div>
   </div>
   <div class="footer">
        <div class="footer-logo">
            <img src="../assets/logoEducatex.PNG">
        </div>
        <div class="footer-quick-navigation">
            <ul>
                <li>QUICK NAVIAGTION</li>
                <li>Dashboard</li>
                <li>My space</li>
                <li>Subjects</li>
                <li>Quizzes</li>
                <li>Forum</li>
            </ul>
        </div>
        <div class="footer-stay-connected">
            <ul>
                <li>STAY CONNECTED</li>
                <li>Facebook</li>
                <li>Linkedin</li>
                <li>Instagram</li>
                <li>Twitter</li>
            </ul>
        </div>
        <div class="footer-get-in-touch">
            <ul>
                <li>GET IN TOUCH</li>
                <li>Prishtinë, Kosovo</li>
                <li>Tel: *** - *** - ***</li>
                <li>info@educatex.com</li>
            </ul>
        </div>
    </div> 
</body>
</html>