*{
  margin:0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.main-subjects {
  display: flex;
  background-image: url('../../assets/bakground.jpg');
  background-repeat: no-repeat;
  background-position: left;
  height: 100%;
}
/*-------main-----------------*/
.container-subjects{
  padding: 50px;
  margin:30px;
  margin-left: 20%;
  border-radius: 5px;
  background-color:white ;
  display: flex;
}
.search input{
  border: none;
  border-radius: 50px;
  background-color: #C4C4C4;
  height: 13px;
  width: 300px;
  padding:13px;
  margin-bottom: 10px;
}
.list ul li{
  list-style-type: none;
}
.right-subjects{
  background-color: #C4C4C4;
  width: 500px;
  margin-left: 25%;
  padding: 3%;
  border-radius: 20px;
}
.filtering {
  margin: 10px;
}
.card {
  margin: 10px;
  background-color: white;
  box-shadow: 3px 3px gray;
  padding: 5px;
}
/*--------------header---------------------*/
.header{
  display: flex;
  justify-content: space-between;
}
.header-logo img{
  height: 80px;
}
.header-logo{
  margin-left: 20px;
}
.header-list{
  margin-top: 35px;
}
.header-list ul {
  display: flex;
}
.header-list ul li {
  margin-left:50px;
  list-style-type: none;
}
.header-list ul li a {
  text-decoration: none;
  color: black;
}
.header-socials{
  margin-top: 35px;
}
.header-socials ul{
  display: flex;
}
.header-socials ul li img {
  width:20px;
  height:20px;
}
.header-socials ul li {
  margin-left: 10px;
  margin-right: 25px;
  list-style-type: none;
}

/*--------------footer--------------------*/
.footer-subjects{
  display: flex;
  justify-content: space-evenly;
  margin-left: 10%;
  padding: 15px;
  bottom: 0;
  width: 80%;
  border-top: 1px solid black;
  font-size: smaller;
}
.footer-subjects-logo img{
  height: 80px;
}
.footer-quick-navigation ul, .footer-get-in-touch ul, .footer-stay-connected ul {
  list-style-type: none;
}